* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1920px;
  width: 100%;
  height: 972px;
  background-color: #dddddd;
}
.lefttop {
  margin-top: 48px;
  margin-left: 52px;
}
.lefttop span {
  color: #0081ff;
}
.lefttop h6 {
  color: #b3b3b3;
}
.righttop {
  margin-top: 80px;
  margin-right: 80px;
  position: relative;
  width: 227px;
  height: 170px;
}
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 158.3px;
  font-weight: bold;
  color: #b3b3b3;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 43.17px;
  font-weight: bold;
  color: #373737;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
.slider img {
  display: none;
  max-width: 700px;
  width: auto;
  height: 550px;
}
.slider img:first-of-type {
  display: block;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slidebottom {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -200px;
  margin-right: 184px;
  font-size: 24px;
  font-weight: bold;
}
.slidebottom span {
  color: #e93656;
}
.pink-line {
  height: 6px;
  background-color: #e93656;
  margin-top: 26px;
  border-radius: 5px;
}
.profile {
  display: flex;
  justify-content: space-around;
  max-width: 1920px;
  width: auto;
  height: 703px;
  margin-top: 135px;
}
.profileleft {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 68px;
}
.profileleft h2 {
  padding-top: 83px;
}
.profileleft h6 {
  padding-top: 6px;
  padding-bottom: 33px;
  color: #daae19;
}
.profileleft p {
  padding-bottom: 60px;
  padding-left: 350px;
  color: #555555;
}
.profileleft button {
  background-color: #e93656;
  border: none;
  color: #ffffff;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 532px;
}
.profile img :first-child {
  max-width: 430px;
  width: auto;
  height: 603px;
}
.skills {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 59px;
  margin-left: 68px;
  margin-right: 364px;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.skill-name span {
  color: #e93656;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}
.skill-name span.show {
  opacity: 1;
}
.skill-bar {
  height: 9px;
  background-color: #f0f0f0;
  position: relative;
}

.skill-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e93656;
  width: 0;
  transition: width 1s ease;
}
.socialset a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.socialset a:hover {
  transform: scale(1.5);
}

.contact {
  background-color: #131a36;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .phone,
.contact .address,
.contact .email {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  justify-content: space-between;
  margin: 0 50px;
}

.contact .phone img,
.contact .address img,
.contact .email img {
  width: 30px;
  height: 30px;
  grid-column: 1;
  grid-row: 1 / span 2;
  border-radius: 50%;
}

.contact h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  grid-column: 2;
  grid-row: 1;
}

.contact p,
a {
  color: #dfdfdf;
  font-size: 14px;
  font-weight: bold;
  grid-column: 2;
  grid-row: 2;
}

.contact .address img {
  margin: 40px;
  border-radius: 50%;
  border: 2px;
  /* padding: 30px; */
  background-color: #e93656;
}
.contact .phone img,
.contact .email img {
  margin: 40px;
  border-radius: 50%;
  border: 2px dashed #ffffff;
  /* padding: 30px; */
}

.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 203px auto;
  max-width: 900px;
}

.offer .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 285px;
  width: 100%;
  height: 360px;
  padding: 20px;
  background-color: #fafafa;
  /* overflow: hidden; */
}

.offer .card img {
  max-width: 60px;
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.offer .card h3 {
  font-size: 22px;
  font-weight: bold;
  color: #222222;
  text-align: center;
}

.offer .card p {
  display: none;
  font-size: 14px;
  text-align: justify;
  color: #222222;
  /* opacity: 0;
  transition: opacity 1s ease-in-out; */
}

/* .offer .card p.show {
  opacity: 1;
} */
/* .offer .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer .card:hover::before {
  opacity: 1;
} */

/* .offer .card::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer .card:hover::after {
  opacity: 1;
} */

/* .offer {
  margin-top: 203px;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}
.offer .card {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  max-width: 285px;
  width: 100%;
  height: 360px;
  gap: 10px;
  background-color: #fafafa;
  opacity: 0.97;
  /* overflow: hidden; */

/* .offer .card::after {
  content: attr(alt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.offer .card:hover::after {
  opacity: 1;
} */
